<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @private_datum.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @private_datum.nickname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @private_datum.gender_id %>
</p>

<p>
  <strong>Birthy:</strong>
  <%= @private_datum.birthy_id %>
</p>

<p>
  <strong>Birthm:</strong>
  <%= @private_datum.birthm_id %>
</p>

<p>
  <strong>Birthd:</strong>
  <%= @private_datum.birthd_id %>
</p>

<p>
  <strong>Personcard:</strong>
  <%= @private_datum.personcard %>
</p>

<p>
  <strong>Blood:</strong>
  <%= @private_datum.blood_id %>
</p>

<p>
  <strong>School:</strong>
  <%= @private_datum.school %>
</p>

<p>
  <strong>Schoolg:</strong>
  <%= @private_datum.schoolg_id %>
</p>

<p>
  <strong>Schoolc:</strong>
  <%= @private_datum.schoolc %>
</p>

<p>
  <strong>Schoolt:</strong>
  <%= @private_datum.schoolt_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @private_datum.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @private_datum.email %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @private_datum.fb %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @private_datum.cellphone %>
</p>

<p>
  <strong>Urgentn:</strong>
  <%= @private_datum.urgentn %>
</p>

<p>
  <strong>Urgentr:</strong>
  <%= @private_datum.urgentr %>
</p>

<p>
  <strong>Urgentc:</strong>
  <%= @private_datum.urgentc %>
</p>

<p>
  <strong>Specialeat:</strong>
  <%= @private_datum.specialeat %>
</p>

<p>
  <strong>Specialsick:</strong>
  <%= @private_datum.specialsick %>
</p>

<p>
  <strong>Vegetrian:</strong>
  <%= @private_datum.vegetrian_id %>
</p>

<p>
  <strong>Tshirtsize:</strong>
  <%= @private_datum.tshirtsize_id %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @private_datum.intro %>
</p>

<%= link_to 'Edit', edit_private_datum_path(@private_datum) %> |
<%= link_to 'Back', private_data_path %>
