<% if user_signed_in? %>
<% if @private_datum.user==current_user || current_user.wtf==777 %>
<table class="table table-hover">
  <col width="120">
  <col width="500">
<tbody>
<p>基本資料</p>
<tr>
  <th>姓名</th>
  <th><%= @private_datum.name %></th>
</tr>
<tr>
  <th>綽號</th>
  <th><%= @private_datum.nickname %></th>
</tr>
<tr>
  <th>性別</th>
  <th><%= Gender.find(@private_datum.gender_id).name %></th>
</tr>
<tr>
  <th>生日</th>
  <th><%= Birthy.find(@private_datum.birthy_id).name+"/"+Birthm.find(@private_datum.birthm_id).name+"/"+Birthd.find(@private_datum.birthd_id).name %></th>
</tr>
<tr>
  <th>身分證字號</th>
  <th><%= @private_datum.personcard %></th>
</tr>
<tr>
  <th>血型</th>
  <th><%= Blood.find(@private_datum.blood_id).name+"型" %></th>
</tr>
<tr>
  <th>學校</th>
  <th><%= @private_datum.school+" "+Schoolg.find(@private_datum.schoolg_id).name+" "+@private_datum.schoolc+"班 "+Schoolt.find(@private_datum.schoolt_id).name %></th>
</tr>
<tr>
  <th>大頭貼</th>
  <th><%= image_tag(@private_datum.picture_url, width: 300) if @private_datum.picture.present? %></th>
</tr>
</tbody>
</table>

<table class="table table-hover">
  <col width="120">
  <col width="500">
<tbody>
<p>聯絡資料</p>
<tr>
  <th>聯絡地址</th>
  <th><%= @private_datum.address %></th>
</tr>
<tr>
  <th>E-mail</th>
  <th><%= @private_datum.email %></th>
</tr>
<tr>
  <th>Facebook</th>
  <th><%= @private_datum.fb %></th>
</tr>
<tr>
  <th>聯絡手機</th>
  <th><%= @private_datum.cellphone %></th>
</tr>
</tbody>
</table>

<table class="table table-hover">
  <col width="120">
  <col width="500">
<tbody>
<p>緊急聯絡人</p>
<tr>
  <th>緊急聯絡人姓名</th>
  <th><%= @private_datum.urgentn %></th>
</tr>
<tr>
  <th>緊急聯絡人關係</th>
  <th><%= @private_datum.urgentr %></th>
</tr>
<tr>
  <th>緊急聯絡人手機</th>
  <th><%= @private_datum.urgentc %></th>
</tr>
</tbody>
</table>

<table class="table table-hover">
  <col width="12%">
  <col width="50%">
<tbody>
<p>自我介紹</p>
<tr>
  <th>特殊飲食習慣</th>
  <th><%= @private_datum.specialeat %></th>
</tr>
<tr>
  <th>特殊疾病</th>
  <th><%= @private_datum.specialsick %></th>
</tr>
<tr>
  <th>吃素</th>
  <th><%= Vegetrian.find(@private_datum.vegetrian_id).name %></th>
</tr>
<tr>
  <th>T恤大小</th>
  <th><%= Tshirtsize.find(@private_datum.tshirtsize_id).name %></th>
</tr>
<tr>
  <th>自我介紹</th>
  <th><%= @private_datum.intro %></th>
</tr>
</tbody>
</table>

<table class="table table-hover">
  <col width="12%">
  <col width="50%">
<tbody>
<p>選秀順位</p>
<tr>
  <th>第一順位</th>
  <th><%= Camp.find(@private_datum.fpick).name %></th>
</tr>
<tr>
  <th>第二順位</th>
  <th><%= Camp.find(@private_datum.spick).name %></th>
</tr>
<tr>
  <th>第三順位</th>
  <th><%= Camp.find(@private_datum.tpick).name %></th>
</tr>
</tbody>
</table>

<div class="btn-group">
  <%= link_to '上一頁', private_data_path, class: "btn btn-primary" %>
  <%= link_to '編輯', edit_private_datum_path(@private_datum), class: "btn btn-primary" %>
  <% if @private_datum.user==current_user %>
  <%= link_to '刪除', @private_datum, method: :delete, data: { confirm: '刪除將無法復原，你確定？' }, class: "btn btn-danger" %>
  <% end %>
</div>
<% end %>
<% end %>
