<p id="notice"><%= notice %></p>

<p>
  <strong>Ind:</strong>
  <%= @camp.ind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @camp.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @camp.cost %>
</p>

<p>
  <strong>Day:</strong>
  <%= @camp.day %>
</p>

<p>
  <strong>Date:</strong>
  <%= @camp.date %>
</p>

<p>
  <strong>Num:</strong>
  <%= @camp.num %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @camp.account_name %>
</p>

<p>
  <strong>Account ind:</strong>
  <%= @camp.account_ind %>
</p>

<p>
  <strong>Address:</strong>
  <%= @camp.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @camp.contact %>
</p>

<p>
  <strong>Expect:</strong>
  <%= @camp.expect %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @camp.intro %>
</p>

<p>
  <strong>Ps:</strong>
  <%= @camp.ps %>
</p>

<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
