<table class="table table-hover">
  <col width="12%">
  <col width="50%">
<tbody>
  <tr>
    <th>營隊編號</th>
    <th><%= @camp.ind %></th>
  </tr>
  <tr>
    <th>營隊名稱</th>
    <th><%= @camp.name %></th>
  </tr>
  <tr>
    <th>營隊天數</th>
    <th><%= @camp.day %></th>
  </tr>
  <tr>
    <th>營隊日期</th>
    <th><%= @camp.date %></th>
  </tr>
  <tr>
    <th>營隊費用</th>
    <th><%= @camp.cost %></th>
  </tr>
  <tr>
    <th>營隊人數</th>
    <th><%= @camp.num %></th>
  </tr>
  <tr>
    <th>營隊帳戶</th>
    <th><%= @camp.account_name %>
        <%= @camp.account_ind %></th>
  </tr>
  <tr>
    <th>地址</th>
    <th><%= @camp.address %></th>
  </tr>
  <tr>
    <th>聯絡人</th>
    <th><%= @camp.contact %></th>
  </tr>
  <tr>
    <th>公佈日期</th>
    <th><%= @camp.expect %></th>
  </tr>
  <tr>
    <th>營隊介紹</th>
    <th><%= @camp.intro %></th>
  </tr>
  <tr>
    <th>備註</th>
    <th><%= @camp.ps %></th>
  </tr>
</tbody>
</table>
